/* Write your CSS here! */

#mainHeading{
    color: red;
    font-size: 36px;
    text-align: center;
    border-bottom: 3px black;
}

.funParagraph{
    color: green;
    font-style: oblique;
    font-weight: 900;
    text-decoration: wavy;
}

body {
    margin: 8px;
    display: block;
    padding: 20px;
}
